@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Nunito', sans-serif;
  min-height: 100vh;
  justify-content: space-between;
  font-size: larger;
}

#navList {
  display: flex;
  list-style-type: none;
}

#navList > li {
  padding: 0 15px;
  cursor: pointer;
}

.popupBackground {
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 70%);
  z-index: 1000;
  top: 0;
  left: 0;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.popUpWindow {
  width: 76%;
  max-height: 93%;
  margin: auto;
  padding: 15px;
  display: flex;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.636);
  box-shadow: 0 48px 48px rgb(37, 137, 125);
  color: rgb(255, 255, 255);
  gap: 5px;
}

.popupImg {
  width: 37%;
  box-shadow: 0 1px 10px rgb(167, 153, 146);
}

.showContent {
  padding: 22px 25px 0 18px;
  width: 60%;
  height: 87vh;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.297);
}

.showInfo {
  display: flex;
  flex-direction: column;
  gap: 1px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 13px;
}

.showTitle {
  font-size: 30px;
}

.showGenre {
  font-size: 15px;
}

.showDates {
  width: 49%;
  padding: 2px;
  margin-left: 5px;
  text-align: center;
  font-size: 13px;
  font-weight: lighter;
  color: #fff;
  background-color: rgba(21, 169, 255, 0.314);
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.commentSection {
  margin: 30px;
}

.commentTitle {
  font-size: 18px;
  font-weight: 100;
  color: rgb(255, 255, 255);
}

#myComments {
  height: 70px;
  width: 98%;
  padding: 5px;
}

#myComments li {
  background-color: rgb(1, 75, 117);
  color: #fff;
  margin-bottom: 5px;
  padding: 3px 18px 5px;
  border-radius: 40px;
  font-size: 14px;
}

.createComment {
  padding: 10px 10px 0 0;
}

#inputTitle {
  font-size: 18px;
  font-weight: 100;
  color: rgb(255, 255, 255);
  padding-bottom: 5px;
}

#inputSection {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px;
}

input[type='text'] {
  width: 100%;
  padding: 5px;
  color: #fff;
  border: 1px solid rgb(21, 169, 255);
  outline: none;
  background-color: rgba(0, 0, 0, 0.105);
  transition: all 0.1s ease;
}

input::-webkit-input-placeholder {
  color: #fff;
  font-size: 15px;
  font-weight: 100;
  font-family: 'Open Sans', sans-serif;
}

input::-moz-placeholder {
  color: #fff;
  font-size: 15px;
  font-weight: 100;
  font-family: 'Open Sans', sans-serif;
}

input::-ms-input-placeholder {
  color: #fff;
  font-size: 15px;
  font-weight: 100;
  font-family: 'Open Sans', sans-serif;
}

input:-ms-input-placeholder {
  color: #fff;
  font-size: 15px;
  font-weight: 100;
  font-family: 'Open Sans', sans-serif;
}

input::placeholder {
  color: #fff;
  font-size: 15px;
  font-weight: 100;
  font-family: 'Open Sans', sans-serif;
}

textarea {
  width: 100%;
  height: 100px;
  padding: 5px;
  resize: none;
  border: 1px solid rgb(21, 169, 255);
  background-color: rgba(0, 0, 0, 0.105);
  color: #fff;
  outline: none;
}

textarea::-webkit-input-placeholder {
  color: #fff;
  font-size: 15px;
  font-weight: 100;
  font-family: 'Open Sans', sans-serif;
}

textarea::-moz-placeholder {
  color: #fff;
  font-size: 15px;
  font-weight: 100;
  font-family: 'Open Sans', sans-serif;
}

textarea::-ms-input-placeholder {
  color: #fff;
  font-size: 15px;
  font-weight: 100;
  font-family: 'Open Sans', sans-serif;
}

textarea:-ms-input-placeholder {
  color: #fff;
  font-size: 15px;
  font-weight: 100;
  font-family: 'Open Sans', sans-serif;
}

textarea::placeholder {
  color: #fff;
  font-size: 15px;
  font-weight: 100;
  font-family: 'Open Sans', sans-serif;
}

input[type='submit'] {
  width: 22%;
  background-color: rgb(21, 169, 255);
  color: #fff;
  margin-top: 5px;
  padding: 8px;
  border: none;
  font-size: 15px;
  font-weight: 700;
  transition: all 0.5s ease;
}

input[type='submit']:hover {
  background-color: rgb(87, 193, 255);
}

input[type='submit']:active {
  background-color: rgb(0, 103, 162);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.399);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 255, 255);
}

.closeIcon {
  position: absolute;
  top: 20px;
  right: 30px;
  cursor: pointer;
}

.rate {
  width: 37px;
}

.moreInfo {
  font-size: 12px;
  display: flex;
  width: 98%;
  gap: 15px;
  padding: 7px;
}

.showRate {
  display: flex;
  align-items: center;
  padding: 2px 3px 2px 3px;
  font-size: 12px;
  gap: 5px;
  color: #fff;
  background-color: rgba(21, 169, 255, 0.314);
  border-radius: 40px;
}

.rNumber {
  font-size: 15px;
}

.hideDesk {
  display: none;
}

.myScrollContent {
  height: 300px;
  overflow-y: scroll;
}

@media only screen and (max-width: 768px) {
  .popUpWindow {
    width: 78%;
    max-height: 98%;
    flex-direction: column;
    padding: 0;
  }

  .showContent {
    padding: 15px;
    width: 100%;
    height: 75vh;
    gap: 10px;
    position: absolute;
    top: 105px;
    background-color: rgba(0, 0, 0, 0);
  }

  .popupImg {
    width: 100%;
    height: 93.5vh;
    box-shadow: 0 1px 20px rgb(167, 153, 146);
    position: relative;
    display: inline-block;
    -webkit-filter: brightness(30%);
    filter: brightness(30%);
    transition: all 0.5s ease;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .popupImg:hover {
    transform: scale(1.05);
  }

  .closeIcon {
    position: absolute;
    top: 17px;
    right: 30px;
  }

  .showInfo {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 12px;
  }

  .showDates {
    width: 60%;
    padding: 2px;
    font-size: 10px;
  }

  .commentTitle {
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 3px;
  }

  #myComments {
    height: 40px;
    width: 100%;
    padding: 3px;
  }

  #myComments li {
    margin-bottom: 4px;
    padding: 2px 18px 2px;
    border-radius: 40px;
    font-size: 11px;
  }

  #inputTitle {
    font-size: 15px;
    padding-bottom: 3px;
  }

  input[type=text] {
    width: 100%;
    padding: 5px;
    background-color: rgba(21, 169, 255, 0.314);
    border: 3px solid rgb(72, 188, 255);
  }

  input::-webkit-input-placeholder {
    font-size: 12px;
  }

  input::-moz-placeholder {
    font-size: 12px;
  }
  
  input::-ms-input-placeholder {
    font-size: 12px;
  }

  input:-ms-input-placeholder {
    font-size: 12px;
  }

  input::placeholder {
    font-size: 12px;
  }

  #myInputComment {
    height: 70px;
    padding: 5px;
    background-color: rgba(21, 169, 255, 0.314);
    border: 3px solid rgb(72, 188, 255);
  }


  input[type=submit] {
    width: 22%;
    margin-top: 2px;
    padding: 9px;
    border: none;
    font-size: 12px;
    font-weight: 700;
    transition: all 0.5s ease;
  }

  textarea::-webkit-input-placeholder {
    font-size: 12px;
  }

  textarea::-moz-placeholder {
    font-size: 12px;
  }

  textarea::-ms-input-placeholder {
    font-size: 12px;
  }

  textarea:-ms-input-placeholder {
    font-size: 12px;
  }

  textarea::placeholder {
    font-size: 12px;
  }

  .rate {
    width: 20px;
  }

  .moreInfo {
    font-size: 11px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 7px;
    padding: 1px;
  }

  .showRate {
    display: flex;
    align-items: center;
    padding: 2px 3px 2px 3px;
    font-size: 10px;
    gap: 2px;
    color: #fff;
    border-radius: 40px;
  }

  .rNumber {
    font-size: 12px;
  }

  .hideDesk {
    display: flex;
  }

  .hideMob {
    display: none;
  }

  .myScrollContent {
    height: 500px;
    padding: 5px;
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }

  .contact {
    transition: 0.5s;
  }

  .contact:hover {
    color: rgb(14, 179, 179);
  }

  @media only screen and (max-width: 768px) {
    .popUpWindow {
      width: 78%;
      max-height: 98%;
      flex-direction: column;
      padding: 0px;
    }

    .showContent {
      padding: 15px;
      width: 100%;
      height: 75vh;
      gap: 10px;
      position: absolute;
      top: 105px;
      background-color: rgba(0, 0, 0, 0);
    }

    .popupImg {
      width: 100%;
      height: 93.5vh;
      box-shadow: 0 1px 20px rgb(167, 153, 146);
      position: relative;
      display: inline-block;
      -webkit-filter: brightness(30%);
              filter: brightness(30%);
      transition: all 0.5s ease;
      -o-object-fit: cover;
         object-fit: cover;
    }

    .popupImg:hover {
      transform: scale(1.05);
    }

      .closeIcon {
      position: absolute;
      top: 17px;
      right: 30px;
    }

    .showInfo {
      padding-top: 10px;
      font-size: 2px;
      padding-top: 0px;
      padding-bottom: 0px;
      font-size: 12px;
    }

    .showDates {
      width: 60%;
      padding: 2px;
      font-size: 10px;
    }

    .commentTitle {
      font-size: 15px;
      padding-top: 5px;
      padding-bottom: 3px;
    }

    #myComments {
      height: 40px;
      width: 100%;
      padding: 3px;
    }

    #myComments li {
      margin-bottom: 4px;
      padding: 2px 18px 2px;
      border-radius: 40px;
      font-size: 11px;
    }

    #inputTitle {
      font-size: 15px;
      padding-bottom: 3px;
    }

    input[type=text] {
      width: 100%;
      padding: 5px;
      background-color: rgba(21, 169, 255, 0.314);
      border: 3px solid rgb(72, 188, 255);
    }

    input::-webkit-input-placeholder {
      font-size: 12px;
    }

    input::-moz-placeholder {
      font-size: 12px;
    }

    input:-ms-input-placeholder {
      font-size: 12px;
    }

    input::-ms-input-placeholder {
      font-size: 12px;
    }

    input::placeholder {
      font-size: 12px;
    }
    
    #myInputComment {
      height: 70px;
      padding: 5px;
      background-color: rgba(21, 169, 255, 0.314);
      border: 3px solid rgb(72, 188, 255);
    }

    input[type=submit] {
      width: 22%;
      margin-top: 2px;
      padding: 9px;
      border: none;
      font-size: 12px;
      font-weight: 700;
      transition: all 0.5s ease;
    }

    textarea::-webkit-input-placeholder {
      font-size: 12px;
    }

    textarea::-moz-placeholder {
      font-size: 12px;
    }

    textarea:-ms-input-placeholder {
      font-size: 12px;
    }

    textarea::-ms-input-placeholder {
      font-size: 12px;
    }

    textarea::placeholder {
      font-size: 12px;
    }

    .rate {
      width: 20px;
    }
  
    .moreInfo {
      font-size: 11px;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      gap: 7px;
      padding: 1px;
    }
  
    .showRate {
      display: flex;
      align-items: center;
      padding: 2px 3px 2px 3px;
      font-size: 10px;
      gap: 2px;
      color: #fff;
      border-radius: 40px;
    }
  
    .rNumber {
      font-size: 12px;
    }

    .hideDesk {
      display: flex;
    }

    .hideMob {
      display: none;
    }

    .myScrollContent {
      height: 500px;
      padding: 5px;
    }
  }

