* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  height: 100vh;
  font-size: larger;
  background: #f6f6f6;
  overflow: scroll;
  padding: 100px 0;
}

#sec1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sec1 > div {
  background: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 2px 8px #00000026;
}

#sec1 > div > h3 {
  color: #545862;
  font-size: 15px;
  font-weight: 400;
  padding: 1rem;
  line-height: 20px;
  text-overflow: ellipsis;
}

#clearTasks {
  background-color: #f6f6f6;
}

#clearTasks > button {
  background-color: transparent;
  margin: 1rem auto;
  outline: none;
  border: none;
  display: block;
  color: #424242ce;
}

#inputDiv > button,
#inputDiv > input {
  background-color: transparent;
  border-color: transparent;
  font-size: 15px;
  font-weight: 200;
  padding: 1rem;
  line-height: 20px;
}

#inputDiv > button {
  cursor: pointer;
  color: #000000b6;
}

#clearTasks > button:hover {
  color: black;
  text-decoration: underline;
}

#inputDiv {
  display: flex;
  justify-content: space-between;
}

#ulTasks {
  padding: 0;
  display: flex;
  flex-direction: column;
  max-height: 60vh;
  overflow: scroll;
}

#ulTasks > li {
  border-top: 1px solid #80808096;
  list-style-type: none;
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
  margin: 3px 0;
}

textarea {
  resize: none;
  border: none;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0 10px;
  overflow: hidden;
  line-height: 2;
  background-color: transparent;
}

.task-edit {
  flex-grow: 1;
}

.moveTask {
  rotate: -90deg;
  cursor: all-scroll;
}

.delTask {
  font-size: smaller;
  line-height: 0;
  display: none;
  cursor: pointer;
}

#ulTasks > li:hover .delTask {
  display: inline;
}

#ulTasks > li:hover {
  background-color: #ffff0045;
}

@media screen and (min-width: 500px) {
  #sec1 > div {
    width: 400px;
  }

  #sec1 > div > h3 {
    font-size: 20px;
  }

  #inputDiv > button,
  #inputDiv > input {
    font-size: 18px;
  }
}

@media screen and (min-width: 900px) {
  #sec1 > div {
    width: 700px;
  }

  #sec1 > div > h3 {
    font-size: 24px;
  }

  #inputDiv > button,
  #inputDiv > input {
    font-size: 20px;
  }
}
